:root {
    --background-color: #fff;
    --border-color: #ccc;
    --text-color: #555;
    --selected-text-color: rgb(56, 142, 241);
    --hover-background-color: #eee;
}

.yearpicker-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: var(--text-color);
    width: 250px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--background-color);
    z-index: 10;
    margin-top: 0.2rem;
}

.yearpicker-header {
    display: flex;
    width: 100%;
    height: 3.3rem;
    border-bottom: 1px solid var(--border-color);
    align-items: top;
    justify-content: space-around;
}

.yearpicker-prev,
.yearpicker-next {
    cursor: pointer;
    font-size: 2rem;
}

.yearpicker-prev:hover,
.yearpicker-next:hover {
    color: var(--selected-text-color);
}

.yearpicker-current {
    display: flex;
    align-items: center;
    justify-content: center;
}

.yearpicker-year {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: -1.2px;
}

.yearpicker-items {
    list-style: none;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    flex: 33.3%;
    width: 100%;
    margin: 2.5px;
}

.yearpicker-items:hover {
    background-color: var(--hover-background-color);
    color: var(--selected-text-color);
    cursor: pointer;
}

.yearpicker-items.selected {
    color: var(--background-color);
    background-color: var(--selected-text-color);
}

.hide {
    display: none;
}

.yearpicker-items.disabled {
    pointer-events: none;
    color: #bbb;
}

@media (max-width: 380px) {
    .yearpicker-container {
        width: 150px !important;
    }

    .yearpicker-header {
        font-size: 12px !important;
        height: 2.5rem !important;
    }

    .yearpicker-prev,
    .yearpicker-next {
        font-size: 1.5rem !important;
    }

    .yearpicker-year {
        margin-bottom: -1px !important;
    }

    .yearpicker-items {
        font-size: 10px !important;
    }
}
